<div class="my-3">
  <h4>Add a Todo</h4>
  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="title" class="form-label">To-do Title</label>
      <input type="text" [(ngModel)]="title" class="form-control" name="title" id="title">
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">To-do description</label>
      <input type="text" [(ngModel)]="desc" class="form-control" id="desc" name="desc" >
    </div>
    <button type="submit" class="btn btn-sm btn-primary">Add todo</button>
  </form>
</div>
